#div{
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.div{
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: baseline;
	gap: 30px;
}

.heading {
	font-family: Arial;
}

.URL-input,
.convert-button {
	font-size: 1.3em;
	padding: 5px 10px;
}

.URL-input {
	margin: auto;
	border-radius: 4px 0px 0px 4px;
	width: 30em;
	text-align: left;
	border: 2px solid #eeeeee;
	background: #eeeeee;
	outline: none;
}

.URL-input:focus {
	border: 2px solid #0485ff;
}

.convert-button {
	margin: 1% auto;
	border: 2px solid #0485ff;
	background: #0485ff;
	color: white;
	transition: 0.15s;
	border-radius: 5%;
}

.convert-button:hover {
	background: #016acc;
	border-color: #016acc;
}

.opt {
	width: 90px;
	margin-top: 20px;
	text-align: center;
	padding: 10px;
}
@media (max-width: 600px) {
	body {
		display: grid;
		grid-template-columns: auto;
		justify-content: center;
	}

	.URL-input {
		margin: auto;
		width: 100%;
	}

	.convert-button {
		margin: 7% auto;
		width: 100%;
	}
}
